/** @jsx React.DOM */
var React = require('react');

var <%= componentName %> = React.createClass({
  displayName: '<%= componentName %>',
  render: function() {
    return (
      <div className="<%= componentClassName %>"></div>
    );
  }
});
module.exports = <%= componentName %>;
